<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/layout_user :: all('Board', ~{::div#links}, ~{::#js},
        ~{::div#page_content})">
        <!-- CSS -->
        <div id="links">
            <link rel="stylesheet" th:href="@{css/boards.css}">
        </div>
        <!-- JS -->
        <th:block id="js">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
            <script th:inline="text">
                var username = "[[${user.name}]]";
                var b_id = "[[${board.id}]]";
            </script>
            <script th:src="@{/js/chat.js}"></script>
        </th:block >
        <!-- Content Wrapper. Contains page content -->
        <div id="page_content" th:replace="fragments/content_wrapper ::
            content('Chat board',
            'Home', ~{::div#breadcrumbs}, ~{::div.box_content})">
            <div id="breadcrumbs">
                <li class="active"><i class="fa fa-dashboard"></i> Home</li>
            </div>
            <div class="chatbox box_content box box-warning direct-chat direct-chat-warning">
                <div id="warning">
                    <span class="text-danger">You are not connected to server.</span>
                </div>
                <div id="chat-page">
                    <div class="chat-container">
                        <div class="connecting">
                            Connecting...
                        </div>
                    </div>
                </div>
                <div class="box-header with-border">
                    <h3 class="box-title" th:text="${board.name}">Direct Chat</h3>
                    <div class="box-tools pull-right">
                        <span data-toggle="tooltip" title="" class="badge
                            bg-yellow" data-original-title="3 New Messages">3</span>
                        <button type="button" class="btn btn-box-tool"
                            data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool"
                            data-toggle="tooltip" title=""
                            data-widget="chat-pane-toggle"
                            data-original-title="Contacts">
                            <i class="fa fa-comments"></i></button>
                        <button type="button" class="btn btn-box-tool"
                            data-widget="remove"><i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <!-- Conversations are loaded here -->
                    <div class="direct-chat-messages" id="messageArea" >
                        <div th:classappend="${res.user.id == user.id} ? right : left" class="direct-chat-msg" th:each="res,iterStat : ${boardReponses}" h:inline="text">
                            <div class="direct-chat-info clearfix">
                                <span th:classappend="${res.user.id == user.id} ? pull-right : pull-left" class="direct-chat-name">[[${res.user.name}]]</span>
                                <span th:classappend="${res.user.id == user.id} ? pull-left : pull-right" class="direct-chat-timestamp">[[${res.updated}]]</span>
                            </div>
                            <img class="direct-chat-img" th:src="${res.user.userMainImage.path}">
                            <div class="direct-chat-text">[[${res.response}]]</div>
                        </div>
                    </div>
                    <!-- Contacts are loaded here -->
                    <div class="direct-chat-contacts hidden">
                        <ul class="contacts-list">
                            <li>
                                <a href="#">
                                    <img class="contacts-list-img"
                                        th:src="@{/img/blank.svg}"
                                        alt="User Image">

                                    <div class="contacts-list-info">
                                        <span class="contacts-list-name">
                                            Count Dracula
                                            <small class="contacts-list-date
                                                pull-right">2/28/2015</small>
                                        </span>
                                        <span class="contacts-list-msg">How have
                                            you been? I was...</span>
                                    </div>
                                    <!-- /.contacts-list-info -->
                                </a>
                            </li>
                            <!-- End Contact Item -->
                            <li>
                                <a href="#">
                                    <img class="contacts-list-img"
                                        th:src="@{/img/blank.svg}"
                                        alt="User Image">

                                    <div class="contacts-list-info">
                                        <span class="contacts-list-name">
                                            Sarah Doe
                                            <small class="contacts-list-date
                                                pull-right">2/23/2015</small>
                                        </span>
                                        <span class="contacts-list-msg">I will
                                            be waiting for...</span>
                                    </div>
                                    <!-- /.contacts-list-info -->
                                </a>
                            </li>
                            <!-- End Contact Item -->
                            <li>
                                <a href="#">
                                    <img class="contacts-list-img"
                                        th:src="@{/img/blank.svg}"
                                        alt="User Image">

                                    <div class="contacts-list-info">
                                        <span class="contacts-list-name">
                                            Nadia Jolie
                                            <small class="contacts-list-date
                                                pull-right">2/20/2015</small>
                                        </span>
                                        <span class="contacts-list-msg">I'll
                                            call you back at...</span>
                                    </div>
                                    <!-- /.contacts-list-info -->
                                </a>
                            </li>
                            <!-- End Contact Item -->
                            <li>
                                <a href="#">
                                    <img class="contacts-list-img"
                                        th:src="@{/img/blank.svg}"
                                        alt="User Image">

                                    <div class="contacts-list-info">
                                        <span class="contacts-list-name">
                                            Nora S. Vans
                                            <small class="contacts-list-date
                                                pull-right">2/10/2015</small>
                                        </span>
                                        <span class="contacts-list-msg">Where is
                                            your new...</span>
                                    </div>
                                    <!-- /.contacts-list-info -->
                                </a>
                            </li>
                            <!-- End Contact Item -->
                            <li>
                                <a href="#">
                                    <img class="contacts-list-img"
                                        th:src="@{/img/blank.svg}"
                                        alt="User Image">

                                    <div class="contacts-list-info">
                                        <span class="contacts-list-name">
                                            John K.
                                            <small class="contacts-list-date
                                                pull-right">1/27/2015</small>
                                        </span>
                                        <span class="contacts-list-msg">Can I
                                            take a look at...</span>
                                    </div>
                                    <!-- /.contacts-list-info -->
                                </a>
                            </li>
                            <!-- End Contact Item -->
                            <li>
                                <a href="#">
                                    <img class="contacts-list-img"
                                        th:src="@{/img/blank.svg}"
                                        alt="User Image">

                                    <div class="contacts-list-info">
                                        <span class="contacts-list-name">
                                            Kenneth M.
                                            <small class="contacts-list-date
                                                pull-right">1/4/2015</small>
                                        </span>
                                        <span class="contacts-list-msg">Never
                                            mind I found...</span>
                                    </div>
                                    <!-- /.contacts-list-info -->
                                </a>
                            </li>
                            <!-- End Contact Item -->
                        </ul>
                        <!-- /.contatcts-list -->
                    </div>
                    <!-- /.direct-chat-pane -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <form id="messageForm" name="messageForm" nameForm="messageForm">
                        <div class="input-group">
                            <input type="text" id="message"  placeholder="Type Message ..." 
                            class="form-control" autocomplete="off">
                            <span class="input-group-btn">
                                <button class="btn btn-warning
                                    btn-flat" type="submit">Send</button>
                            </span>
                        </div>
                    </form>
                </div>
                <!-- /.box-footer-->
            </div>
        </div>
        <!-- /.content-wrapper -->
    </div>
</html>
