<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/layout_board :: all('Board', ~{::div#links}, ~{::#js},
        ~{::div#page_content})">
        <!-- CSS -->
        <div id="links">
            <link rel="stylesheet" th:href="@{css/boards.css}">
        </div>
        <!-- JS -->
        <th:block id="js">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
            <script th:inline="text">
                var username = "[[${user.name}]]";
                var b_id = "[[${board.id}]]";
            </script>
        </th:block >
        <!-- Content Wrapper. Contains page content -->
        <div id="page_content" th:replace="fragments/content_wrapper_board ::
            content('Chat board',
            'Home', ~{::div#breadcrumbs}, ~{::div.box_content})">
            <div class="chatbox box_content box box-warning direct-chat direct-chat-warning">
                <div id="warning">
                    <span class="text-danger">You are not connected to server.</span>
                </div>
                <div id="chat-page">
                    <div class="chat-container">
                        <div class="connecting">
                            Connecting...
                        </div>
                    </div>
                </div>
                <div class="box-header with-border">
                    <h3 class="box-title" th:text="${board.name}">Direct Chat</h3>
                    <div class="box-tools pull-right">
                        <span data-toggle="tooltip" title="" class="badge
                            bg-yellow" data-original-title="3 New Messages">3</span>
                        <button type="button" class="btn btn-box-tool"
                            data-toggle="tooltip" title=""
                            data-widget="chat-pane-toggle"
                            data-original-title="Board Members">
                            <i class="fa fa-comments"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <!-- Conversations are loaded here -->
                    <div class="direct-chat-messages" id="messageArea" >
                        <div th:classappend="${res.user.id == user.id} ? right : left" class="direct-chat-msg" th:each="res,iterStat : ${boardReponses}" th:inline="text">
                            <div class="direct-chat-info clearfix">
                                <span th:classappend="${res.user.id == user.id} ? pull-right : pull-left" class="direct-chat-name">[[${res.user.name}]]</span>
                                <span th:classappend="${res.user.id == user.id} ? pull-left : pull-right" class="direct-chat-timestamp">[[${res.created}]]</span>
                            </div>
                            <img class="direct-chat-img" th:src="${res.user.userMainImage.path}">
                            <pre class="direct-chat-text">[[${res.response}]]</pre>
                        </div>
                        <div class="direct-chat-msg" v-bind:class="{ 'left' : msg.sender != username, 'right' : msg.sender == username}" v-for="msg in messageReceived">
                            <div class="direct-chat-info clearfix">
                                <span class="direct-chat-name" v-bind:class="{ 'pull-left' : msg.sender != username, 'pull-right' : msg.sender == username}">{{ msg.sender }}</span>
                                <span class="direct-chat-timestamp" v-bind:class="{ 'pull-right' : msg.sender != username, 'pull-left' : msg.sender == username}">{{ msg.created }}</span>
                            </div>
                            <img class="direct-chat-img" v-bind:src="msg.userImagePath">
                            <pre class="direct-chat-text">{{ msg.response }}</pre>
                        </div>
                    </div>
                    <!-- Contacts are loaded here -->
                    <div class="direct-chat-contacts" id="direct-chat-contacts">
                        <ul class="contacts-list" id="contacts-list">
                            <li v-for="(joinMsg, index) in joinMessageReceived" v-bind:id="'sender-' + joinMsg.sender">
                                <img class="contacts-list-img" v-bind:src="joinMsg.userImagePath">
                                <div class="contacts-list-info">
                                    <span class="contacts-list-name">
                                        {{ joinMsg.sender }}&nbsp;&nbsp;<i v-bind:class="{'text-success':joinMsg.isLogin}" class="fa fa-circle"></i>
                                    </span>
                                </div>
                             </li>                             
                            <!-- End Contact Item -->
                        </ul>
                        <!-- /.contatcts-list -->
                    </div>
                    <!-- /.direct-chat-pane -->
                </div>
                <!-- /.box-body -->
                <!-- <div class="box-footer">

                </div> -->
                <!-- /.box-footer-->
            </div>
        </div>
        <!-- /.content-wrapper -->
    </div>
</html>
