<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/layout_user :: all('Main', null, null,
        ~{::div#page_content})">
        <!-- Content Wrapper. Contains page content -->
        <div id="page_content" th:replace="fragments/content_wrapper ::
            content('Chat board',
            'Home', ~{::div#breadcrumbs}, ~{::div.box_content})">
            <div id="breadcrumbs">
                <li class="active"><i class="fa fa-dashboard"></i> Home</li>
            </div>
            <div class="row" >
                <div class="box_content">
                    <div class="box box-solid">
                        <noscript>
                            <h2>Sorry! Your browser doesn't support Javascript</h2>
                            <h2>Please enable Javascript.</h2>
                        </noscript>
                        <div class="box-header with-border">
                                <h4 style="background-color:#f7f7f7; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;">Unchecked mentions</h4>
                            <div class="box-tools pull-right">
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            Body
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer text-center">footer</div>
                        <!-- /.box-footer -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /.content-wrapper -->
    </div>
</html>
