<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/layout_user :: all('Main', null, null,
        ~{::div#page_content})">
        <!-- Content Wrapper. Contains page content -->
        <div id="page_content" th:replace="fragments/content_wrapper ::
            content('Chat board',
            'Home', ~{::div#breadcrumbs}, ~{::div.box_content})">
            <div id="breadcrumbs">
                <li class="active"><i class="fa fa-dashboard"></i> Home</li>
            </div>
            <div class="box_content box box-primary">
                <noscript>
                    <h2>Sorry! Your browser doesn't support Javascript</h2>
                    <h2>Please enable Javascript.</h2>
                </noscript>
                <div class="box-header with-border">
                    <h3 class="box-title">Unchecked mentions</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    Body
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-center">footer</div>
                <!-- /.box-footer -->
            </div>
            <div class="box_content box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Boards in which you mentioned</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    Body
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-center">footer</div>
                <!-- /.box-footer -->
            </div>
            <div class="box_content box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Boards You created</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div th:if="${#lists.size(boards)} == 0">You haven't created 
                        any board yet.<br/>You can create boards from here.
                    </div>
                    <ul class="products-list product-list-in-box"
                        th:each="board,iterStat : ${boards}">
                        <!-- /.item -->
                        <li class="item">
                            <div class="product-img"
                                th:switch="${(iterStat.count + 3) % 3}">
                                <img th:case="1"
                                    th:src="@{img/no_image_1.jpg}"
                                    th:alt="${board.name}">
                                <img th:case="2"
                                    th:src="@{img/no_image_2.jpg}"
                                    th:alt="${board.name}">
                                <img th:case="0"
                                    th:src="@{img/no_image_3.jpg}"
                                    th:alt="${board.name}">
                            </div>
                            <div class="product-info">
                                <a href="javascript:void(0)"
                                    class="product-title" th:inline="text">
                                    [[${board.name}]]
                                    <span class="label label-success
                                        pull-right">New message</span></a>
                                <span class="product-description"
                                    th:text="${#strings.abbreviate(board.detail,100)}">
                                </span>
                            </div>
                        </li>
                        <!-- /.item -->
                    </ul>
                </div>
                <!-- /.box-body -->
                <div th:if="${#lists.size(boards)}> 0" class="box-footer
                    text-center">
                    <a href="javascript:void(0)" class="uppercase">View All
                        Boards</a>
                </div>
                <!-- /.box-footer -->
            </div>
        </div>
        <!-- /.content-wrapper -->
    </div>
</html>
