<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="all(main_title, links, script, content)">
    <head th:replace="fragments/head :: base_header(${main_title}, ${links})"></head>
    <body class="hold-transition skin-blue sidebar-mini fixed">
        <!-- Wrapper -->
        <div class="wrapper">
            <div th:replace="fragments/header :: header"></div>
            <div th:replace="fragments/main_sidebar :: main-sidebar"></div>
            <!-- Content Wrapper. Contains page content -->
            <th:block th:replace="${content}" />
            <!-- /.content-wrapper -->
            <div th:replace="fragments/board_footer :: footer"></div>
            <div th:replace="fragments/content_sidebar :: content-sidebar"></div>
        </div>
        <!-- ./wrapper -->
        <th:block th:replace="fragments/script :: base_script(${script})"></th:block>
        <script th:src="@{js/vuejs/vue.debug.js}"></script>
        <script th:src="@{js/chat.vue.js}"></script>
        <script>
        var width = $(window).width();
        var height = $(window).height();
        var windowSizeChanged = false;
        $(window).on('resize', function(){
            if($(this).width() != width || $(this).height() != height){
                width = $(this).width();
                height = $(this).height();
                windowSizeChanged = true;
                toggleFixed(windowSizeChanged);  
            }
        });
        $(window).on('load', function () {
            windowSizeChanged = false;
            toggleFixed(windowSizeChanged);  
        });
        $(document).ready(function(){
            $("textarea").keydown(function(e){
                if (e.keyCode == 13){
                    if (e.shiftKey){
                        sendMessage();
                    }
                }
            });
        })
        function toggleFixed(windowSizeChanged) {
            var parentWidth = $(".direct-chat-messages").outerWidth();   
            $(".board-footer").toggleClass("board-width").css({"width":parentWidth});   
            var logoHeight = 0;
            if(width < 768){
                logoHeight = $(".logo").outerHeight();
            }
            var parentHeight = $(".board-content-wrapper").outerHeight() - $(".navbar").outerHeight() - $(".box-header").outerHeight() - logoHeight;   
            var textBox = $(".board-footer").outerHeight();
            if(windowSizeChanged == false){
                $(".direct-chat-messages").toggleClass("board-height").css({"min-height":parentHeight});
                $(".direct-chat-contacts").toggleClass("board-height").css({"min-height":parentHeight});
                var textBoxHeight = $(".board-footer").height();
                $(".direct-chat-messages").toggleClass("board-margin").css({"margin-bottom":textBoxHeight});
            }
        }
        </script>
    </body>
</html>
