<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="all(main_title, links, script, content)">
    <head th:replace="fragments/head :: base_header(${main_title}, ${links})"></head>
    <body class="hold-transition skin-blue sidebar-mini fixed">
        <!-- Wrapper -->
        <div class="wrapper">
            <div th:replace="fragments/header :: header"></div>
            <div th:replace="fragments/main_sidebar :: main-sidebar"></div>
            <!-- Content Wrapper. Contains page content -->
            <th:block th:replace="${content}" />
            <!-- /.content-wrapper -->
            <div th:replace="fragments/board_footer :: footer"></div>
            <div th:replace="fragments/content_sidebar :: content-sidebar"></div>
        </div>
        <!-- ./wrapper -->
        <th:block th:replace="fragments/script :: base_script(${script})"></th:block>
        <script>
        $(document).ready(function(){
            toggleFixed();  
        })
        function toggleFixed () {
            var parentwidth = $(".direct-chat-messages").width();      
            $(".board-footer").toggleClass("board-width").width(parentwidth);   
            var parentHeight = $(".board-content-wrapper").height() - 90;   
            $(".direct-chat-messages").toggleClass("board-height").height(parentHeight);  
        }
        </script>
    </body>
</html>
