@media only screen and (max-width: 350px) {
    .direct-chat-messages{
        height:350px ! important;
    }
}
@media only screen and (min-width: 351px) and (max-width:825px) {
    .direct-chat-messages{
        height:420px ! important;
    }
}
@media only screen and (min-width: 826px) and (max-width:900px) {
    .direct-chat-messages{
        height:500px ! important;
    }
    .chatbox{
        width:550px ! important;
    }
}
@media only screen and (min-width: 901px) and (max-width:1100px) {
    .direct-chat-messages{
        height:500px ! important;
    }
    .chatbox{
        width:600px ! important;
    }
}
@media only screen and (min-width: 1101px){
    .direct-chat-messages{
        height:600px ! important;
    }
    .chatbox{
        width:850px ! important;
    }
}
.chatbox{
    margin-left:auto;
    margin-right:auto;
}