.content{
    padding: 0px ! important;
}
.board-footer{
    text-align: left;
    position: fixed;
    bottom: 0;
}
@media only screen and (min-width: 992px){
    .direct-chat-messages{
        height: 746px ! important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .direct-chat-messages{
        height: 711px ! important;
    }
}
@media only screen and (max-width: 767px) {
    .direct-chat-messages{
        height:713px ! important;
    }
}
.chatbox{
    margin-left:auto;
    margin-right:auto;
}
.board-textarea{
    resize: none; 
    height:100px ! important;
}
.send-btn{
    height:100px;
}
.ui-dialog{
    z-index: 2000 ! important;
}