.content{
    padding: 0px ! important;
}
.board-footer{
    text-align: left;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.direct-chat-messages{
    margin-bottom: 100px;
    height:unset;
}

.chatbox{
    margin-left:auto;
    margin-right:auto;
}
.board-textarea{
    resize: none; 
    height:100px ! important;
}
.send-btn{
    height:100px;
}
.ui-dialog{
    z-index: 2000 ! important;
}